fastapi
uvicorn[standard]
pydantic
SQLAlchemy
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
alembic              
aniso8601            
annotated-doc        
annotated-types      
anyio                
argon                
argon2-cffi          
argon2-cffi-bindings 
bcrypt               
cffi                 
click                
cryptography         
dnspython            
dotenv               
ecdsa                
email-validator      
fastapi              
Flask                
Flask-Migrate        
Flask-RESTful        
Flask-SQLAlchemy     
greenlet             
h11                  
httptools            
idna                 
Jinja2               
Mako                 
MarkupSafe           
passlib              
pip                  
pycparser            
pydantic_core        
python-dotenv        
python-jose          
python-multipart     
pytz                 
rsa                  
six                  
SQLAlchemy           
SQLite3-0611         
starlette            
typing_extensions    
typing-inspection    
uvicorn              
uvloop               
watchfiles           
websockets           
Werkzeug
pydantic[email]
pydantic